In [28]:
import pandas as pd
import requests
import zipfile
from sklearn.preprocessing import MinMaxScaler
import numpy as np

## Normnalização dos dados

In [3]:
ibge = pd.read_csv('../tratados/dados/ibge_drs.csv')
ibge.head(3)

,Unnamed: 0,Municipio,area,Populacao_Estimada,Densidade_Demográfica,Mortalidade_Infantil,Despesas_empenhadas,PIB,Código IBGE,Indice s/ Acento,Indice c/ acento,Município com acento,Municipio Sem Acento,DRS
0,0,ADAMANTINA,411.987,35111,82.15,11.63,13.708.366.993,30962.66,3500105,0,0,ADAMANTINA,ADAMANTINA,DRS 09 Marília
1,1,ADOLFO,211.055,3554,16.85,19.23,2.010.387.713,25867.75,3500204,1,1,ADOLFO,ADOLFO,DRS 15 São José do Rio Preto
2,2,AGUAÍ,474.554,36648,67.72,16.06,7.216.873.408,28041.03,3500303,2,2,AGUAÍ,AGUAI,DRS 14 São João da Boa Vista

*Casos e óbitos*

In [46]:
scaler = MinMaxScaler()
for cod in ibge['Código IBGE']:
    dataset =  pd.read_csv('../Finais/' + str(cod) + '.csv')
    
    for x in dataset.iloc():
        dataset.at[x.name, 'ocupacao_leitos'] = x['ocupacao_leitos'].replace(",",".")
    
    col = np.array(dataset.iloc[:,[3,4,5,6,7,8,9,11, 12, 13,14, 15, 16, 17]])
    normalizado = pd.DataFrame(scaler.fit_transform(col))
    
    dataset.to_csv(str(cod) + '.csv')
    break;

In [22]:
dataset

,nome_munic,codigo_ibge,data_inicio_sintomas,diagnostico_covid19,obito
0,Estiva Gerbi,3557303,2020-04-03T00:00:00Z,0.000000,0.0
1,Estiva Gerbi,3557303,2020-05-05T00:00:00Z,0.000000,0.0
2,Estiva Gerbi,3557303,2020-05-18T00:00:00Z,0.000000,0.0
3,Estiva Gerbi,3557303,2020-05-20T00:00:00Z,0.000000,0.0
4,Estiva Gerbi,3557303,2020-05-24T00:00:00Z,0.000000,0.0
...,...,...,...,...,...
292,Estiva Gerbi,3557303,2021-07-11T00:00:00Z,0.428571,0.0
293,Estiva Gerbi,3557303,2021-07-12T00:00:00Z,0.142857,0.0
294,Estiva Gerbi,3557303,2021-07-13T00:00:00Z,0.000000,0.0
295,Estiva Gerbi,3557303,2021-07-14T00:00:00Z,0.142857,0.0
296,Estiva Gerbi,3557303,2021-07-17T00:00:00Z,0.000000,0.0

## Isolamento

In [42]:
dataset.iloc[:,[3,4,5,6,7,8,9,11, 12, 13,14, 15, 16, 17]]

,Populacao,Total 1ª Dose,Total 2ª Dose,Total Unica,Total Doses Aplicadas,População Vacinada dose1/População Total,População Vacinada/População Total,diagnostico_covid19,obito,media_movel_casos,media_movel_obitos,ocupacao_leitos,media_isolamento,Mean.R
0,35111.0,2068.0,543.0,0.0,2611.0,5.889892,1.546524,11.0,1.0,16.571429,0.571429,79.81,43.00,0.0
1,35111.0,2079.0,547.0,0.0,2626.0,5.921221,1.557916,24.0,1.0,17.428571,0.571429,80.29,37.25,0.0
2,35111.0,2104.0,608.0,0.0,2712.0,5.992424,1.731651,13.0,0.0,15.142857,0.571429,80.77,38.25,0.0
3,35111.0,2110.0,615.0,0.0,2725.0,6.009513,1.751588,10.0,1.0,14.285714,0.571429,79.81,50.25,0.0
4,35111.0,2125.0,739.0,0.0,2864.0,6.052234,2.104753,7.0,1.0,11.714286,0.714286,77.03,38.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,35111.0,21276.0,7906.0,632.0,29814.0,60.596394,24.317166,9.0,0.0,10.428571,0.142857,69.18,39.25,0.0
145,35111.0,21559.0,7968.0,632.0,30159.0,61.402410,24.493748,6.0,0.0,9.857143,0.142857,72.95,37.75,0.0
146,35111.0,21747.0,7997.0,632.0,30376.0,61.937854,24.576344,3.0,0.0,8.142857,0.000000,68.59,40.25,0.0
147,35111.0,21747.0,7997.0,632.0,30376.0,61.937854,24.576344,5.0,0.0,7.714286,0.000000,65.58,45.00,0.0
148,35111.0,21747.0,7997.0,632.0,30376.0,61.937854,24.576344,6.0,0.0,7.285714,0.000000,67.75,39.50,0.0

In [10]:
var = "78,81"
print(float(var.replace(',', '.')))

78.81

In [ ]:
colunas = dataset[['Populacao', 'Total 1ª Dose', 'Total 2ª Dose', 'Total Unica', 'Total Doses Aplicadas',
       'População Vacinada dose1/População Total', 'População Vacinada/População Total', 'diagnostico_covid19', 'obito', 'media_movel_casos', 'media_movel_obitos', 'ocupacao_leitos',
       'media_isolamento', 'Mean.R']]
    normalizado = scaler.fit_transform(colunas)
    dataset.iloc[['Populacao', 'Total 1ª Dose', 'Total 2ª Dose', 'Total Unica', 'Total Doses Aplicadas',
       'População Vacinada dose1/População Total', 'População Vacinada/População Total', 'diagnostico_covid19', 'obito', 'media_movel_casos', 'media_movel_obitos', 'ocupacao_leitos',
       'media_isolamento', 'Mean.R']] = normalizado
    dataset = dataset.drop(columns = 'Unnamed: 0')