In [6]:
import pandas as pd
import requests
import zipfile
from sklearn.preprocessing import MinMaxScaler

## Normnalização dos dados

In [4]:
ibge = pd.read_csv('../dados/ibge_drs.csv')
ibge.head(3)

,Unnamed: 0,Municipio,area,Populacao_Estimada,Densidade_Demográfica,Mortalidade_Infantil,Despesas_empenhadas,PIB,Código IBGE,Indice s/ Acento,Indice c/ acento,Município com acento,Municipio Sem Acento,DRS
0,0,ADAMANTINA,411.987,35111,82.15,11.63,13.708.366.993,30962.66,3500105,0,0,ADAMANTINA,ADAMANTINA,DRS 09 Marília
1,1,ADOLFO,211.055,3554,16.85,19.23,2.010.387.713,25867.75,3500204,1,1,ADOLFO,ADOLFO,DRS 15 São José do Rio Preto
2,2,AGUAÍ,474.554,36648,67.72,16.06,7.216.873.408,28041.03,3500303,2,2,AGUAÍ,AGUAI,DRS 14 São João da Boa Vista

*Casos e óbitos*

In [15]:
scaler = MinMaxScaler()
for cod in ibge['Código IBGE']:
    dataset =  pd.read_csv('../casos_obitos/' + str(cod) + '.csv')
    colunas = dataset.iloc[:, 4:]
    normalizado = scaler.fit_transform(colunas)
    dataset.iloc[:, 4:] = normalizado
    dataset = dataset.drop(columns = 'Unnamed: 0')
    dataset.to_csv('./casos_obitos/' + str(cod) + '.csv')

In [16]:
dataset

,nome_munic,codigo_ibge,data_inicio_sintomas,diagnostico_covid19,obito
0,Estiva Gerbi,3557303,2020-04-03T00:00:00Z,0.000000,0.0
1,Estiva Gerbi,3557303,2020-05-05T00:00:00Z,0.000000,0.0
2,Estiva Gerbi,3557303,2020-05-18T00:00:00Z,0.000000,0.0
3,Estiva Gerbi,3557303,2020-05-20T00:00:00Z,0.000000,0.0
4,Estiva Gerbi,3557303,2020-05-24T00:00:00Z,0.000000,0.0
...,...,...,...,...,...
292,Estiva Gerbi,3557303,2021-07-11T00:00:00Z,0.428571,0.0
293,Estiva Gerbi,3557303,2021-07-12T00:00:00Z,0.142857,0.0
294,Estiva Gerbi,3557303,2021-07-13T00:00:00Z,0.000000,0.0
295,Estiva Gerbi,3557303,2021-07-14T00:00:00Z,0.142857,0.0
296,Estiva Gerbi,3557303,2021-07-17T00:00:00Z,0.000000,0.0