In [2]:
import pandas as pd
import requests
import zipfile
from sklearn.preprocessing import MinMaxScaler
import numpy as np

## Normalização dos dados

In [3]:
ibge = pd.read_csv('../tratados/dados/ibge_drs.csv')
ibge.head(3)

,Unnamed: 0,Municipio,area,Populacao_Estimada,Densidade_Demográfica,Mortalidade_Infantil,Despesas_empenhadas,PIB,Código IBGE,Indice s/ Acento,Indice c/ acento,Município com acento,Municipio Sem Acento,DRS
0,0,ADAMANTINA,411.987,35111,82.15,11.63,13.708.366.993,30962.66,3500105,0,0,ADAMANTINA,ADAMANTINA,DRS 09 Marília
1,1,ADOLFO,211.055,3554,16.85,19.23,2.010.387.713,25867.75,3500204,1,1,ADOLFO,ADOLFO,DRS 15 São José do Rio Preto
2,2,AGUAÍ,474.554,36648,67.72,16.06,7.216.873.408,28041.03,3500303,2,2,AGUAÍ,AGUAI,DRS 14 São João da Boa Vista

*Casos e óbitos*

In [58]:
nomes = {'Município' : [] , 'Código IBGE': [], 'Populacao': [], 'Total 1ª Dose': [], 'Total 2ª Dose': [], 'Total Unica': [], 'Total Doses Aplicadas': [],
       'População Vacinada dose1/População Total': [],
       'População Vacinada/População Total': [], 'data': [], 'diagnostico_covid19': [],
       'obito': [], 'media_movel_casos': [], 'media_movel_obitos': [], 'ocupacao_leitos': [],
       'media_isolamento': []}

for cod in ibge['Código IBGE']:
    dataset =  pd.read_csv('../Finais/' + str(cod) + '.csv')
    if(not(dataset.empty)):
        for x in dataset.iloc():
            dataset.at[x.name, 'ocupacao_leitos'] = x['ocupacao_leitos'].replace(",",".")
            if(type(x['media_isolamento']) == str):
                dataset.at[x.name, 'media_isolamento'] = x['media_isolamento'].replace("%", "")
                
        scaler = MinMaxScaler()
        col = dataset.iloc[:,[4,5,6,7,8,9,11,12, 13,14, 15, 16, 17]]
        normalizado = pd.DataFrame(data=nomes)
        normalizado[['Total 1ª Dose','Total 2ª Dose','Total Unica','Total Doses Aplicadas','População Vacinada dose1/População Total','População Vacinada/População Total','diagnostico_covid19','obito',  'media_movel_casos','media_movel_obitos', 'ocupacao_leitos', 'media_isolamento' ,17]] = scaler.fit_transform(col)
        normalizado[['Município', 'Código IBGE', 'data','Populacao']] = dataset[['Município', 'Código IBGE', 'data', 'Populacao']]
        norma = normalizado.rename(columns={17:"Mean.R"})
        norma.to_csv('./dados/' + str(cod) + '.csv')
        
    else:
        print(cod)

3503356
3504602
3506607
3515004
3516101
3520400
3548005

In [22]:
dataset

,nome_munic,codigo_ibge,data_inicio_sintomas,diagnostico_covid19,obito
0,Estiva Gerbi,3557303,2020-04-03T00:00:00Z,0.000000,0.0
1,Estiva Gerbi,3557303,2020-05-05T00:00:00Z,0.000000,0.0
2,Estiva Gerbi,3557303,2020-05-18T00:00:00Z,0.000000,0.0
3,Estiva Gerbi,3557303,2020-05-20T00:00:00Z,0.000000,0.0
4,Estiva Gerbi,3557303,2020-05-24T00:00:00Z,0.000000,0.0
...,...,...,...,...,...
292,Estiva Gerbi,3557303,2021-07-11T00:00:00Z,0.428571,0.0
293,Estiva Gerbi,3557303,2021-07-12T00:00:00Z,0.142857,0.0
294,Estiva Gerbi,3557303,2021-07-13T00:00:00Z,0.000000,0.0
295,Estiva Gerbi,3557303,2021-07-14T00:00:00Z,0.142857,0.0
296,Estiva Gerbi,3557303,2021-07-17T00:00:00Z,0.000000,0.0

## Isolamento

In [42]:
dataset.iloc[:,[3,4,5,6,7,8,9,11, 12, 13,14, 15, 16, 17]]

,Populacao,Total 1ª Dose,Total 2ª Dose,Total Unica,Total Doses Aplicadas,População Vacinada dose1/População Total,População Vacinada/População Total,diagnostico_covid19,obito,media_movel_casos,media_movel_obitos,ocupacao_leitos,media_isolamento,Mean.R
0,35111.0,2068.0,543.0,0.0,2611.0,5.889892,1.546524,11.0,1.0,16.571429,0.571429,79.81,43.00,0.0
1,35111.0,2079.0,547.0,0.0,2626.0,5.921221,1.557916,24.0,1.0,17.428571,0.571429,80.29,37.25,0.0
2,35111.0,2104.0,608.0,0.0,2712.0,5.992424,1.731651,13.0,0.0,15.142857,0.571429,80.77,38.25,0.0
3,35111.0,2110.0,615.0,0.0,2725.0,6.009513,1.751588,10.0,1.0,14.285714,0.571429,79.81,50.25,0.0
4,35111.0,2125.0,739.0,0.0,2864.0,6.052234,2.104753,7.0,1.0,11.714286,0.714286,77.03,38.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,35111.0,21276.0,7906.0,632.0,29814.0,60.596394,24.317166,9.0,0.0,10.428571,0.142857,69.18,39.25,0.0
145,35111.0,21559.0,7968.0,632.0,30159.0,61.402410,24.493748,6.0,0.0,9.857143,0.142857,72.95,37.75,0.0
146,35111.0,21747.0,7997.0,632.0,30376.0,61.937854,24.576344,3.0,0.0,8.142857,0.000000,68.59,40.25,0.0
147,35111.0,21747.0,7997.0,632.0,30376.0,61.937854,24.576344,5.0,0.0,7.714286,0.000000,65.58,45.00,0.0
148,35111.0,21747.0,7997.0,632.0,30376.0,61.937854,24.576344,6.0,0.0,7.285714,0.000000,67.75,39.50,0.0

In [10]:
var = "78,81"
print(float(var.replace(',', '.')))

78.81

In [ ]:
colunas = dataset[['Populacao', 'Total 1ª Dose', 'Total 2ª Dose', 'Total Unica', 'Total Doses Aplicadas',
       'População Vacinada dose1/População Total', 'População Vacinada/População Total', 'diagnostico_covid19', 'obito', 'media_movel_casos', 'media_movel_obitos', 'ocupacao_leitos',
       'media_isolamento', 'Mean.R']]
    normalizado = scaler.fit_transform(colunas)
    dataset.iloc[['Populacao', 'Total 1ª Dose', 'Total 2ª Dose', 'Total Unica', 'Total Doses Aplicadas',
       'População Vacinada dose1/População Total', 'População Vacinada/População Total', 'diagnostico_covid19', 'obito', 'media_movel_casos', 'media_movel_obitos', 'ocupacao_leitos',
       'media_isolamento', 'Mean.R']] = normalizado
    dataset = dataset.drop(columns = 'Unnamed: 0')

In [59]:
exemplo = pd.read_csv('dados/3500105.csv')
exemplo

,Unnamed: 0,Município,Código IBGE,Populacao,Total 1ª Dose,Total 2ª Dose,Total Unica,Total Doses Aplicadas,População Vacinada dose1/População Total,População Vacinada/População Total,data,diagnostico_covid19,obito,media_movel_casos,media_movel_obitos,ocupacao_leitos,media_isolamento,Mean.R
0,0,ADAMANTINA,3500105.0,35111.0,0.000000,0.067900,0.0,0.000000,0.000000,0.062927,2021-02-21,0.25000,0.5,0.568966,0.444444,0.437308,0.462963,0.0
1,1,ADAMANTINA,3500105.0,35111.0,0.000559,0.068401,0.0,0.000540,0.000559,0.063391,2021-02-22,0.65625,0.5,0.620690,0.444444,0.452059,0.037037,0.0
2,2,ADAMANTINA,3500105.0,35111.0,0.001829,0.076029,0.0,0.003638,0.001829,0.070460,2021-02-23,0.31250,0.0,0.482759,0.444444,0.466810,0.111111,0.0
3,3,ADAMANTINA,3500105.0,35111.0,0.002134,0.076904,0.0,0.004106,0.002134,0.071271,2021-02-24,0.21875,0.5,0.431034,0.444444,0.437308,1.000000,0.0
4,4,ADAMANTINA,3500105.0,35111.0,0.002896,0.092410,0.0,0.009112,0.002896,0.085641,2021-02-25,0.12500,0.5,0.275862,0.555556,0.351875,0.092593,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,144,ADAMANTINA,3500105.0,35111.0,0.976066,0.988621,1.0,0.979759,0.976066,0.989454,2021-07-15,0.18750,0.0,0.198276,0.111111,0.110633,0.185185,0.0
145,145,ADAMANTINA,3500105.0,35111.0,0.990447,0.996374,1.0,0.992184,0.990447,0.996639,2021-07-16,0.09375,0.0,0.163793,0.111111,0.226490,0.074074,0.0
146,146,ADAMANTINA,3500105.0,35111.0,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,2021-07-17,0.00000,0.0,0.060345,0.000000,0.092502,0.259259,0.0
147,147,ADAMANTINA,3500105.0,35111.0,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,2021-07-18,0.06250,0.0,0.034483,0.000000,0.000000,0.611111,0.0
148,148,ADAMANTINA,3500105.0,35111.0,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,2021-07-19,0.09375,0.0,0.008621,0.000000,0.066687,0.203704,0.0

In [16]:
normalizado

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250,0.0,0.84,0.00,0.053577,0.588889,0.0
1,0.0,0.001037,0.000000,0.000000,0.000764,0.001037,0.000000,0.375,0.0,0.76,0.00,0.000000,0.133333,0.0
2,0.0,0.001244,0.000000,0.000000,0.000917,0.001244,0.000000,0.375,0.5,0.84,0.25,0.147494,0.144444,0.0
3,0.0,0.001244,0.000000,0.000000,0.000917,0.001244,0.000000,0.375,0.0,0.80,0.25,0.138040,0.522222,0.0
4,0.0,0.001659,0.000000,0.000000,0.001222,0.001659,0.000000,0.250,0.0,0.80,0.25,0.177435,0.144444,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,0.0,0.960813,0.799725,0.701493,0.914425,0.960813,0.784428,0.000,0.0,0.24,0.00,0.414749,0.211111,0.0
145,0.0,0.988596,0.860289,1.000000,0.960575,0.988596,0.882045,0.000,0.0,0.24,0.00,0.439017,0.111111,0.0
146,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.125,0.0,0.24,0.00,0.343208,0.266667,0.0
147,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000,0.0,0.08,0.00,0.333754,0.644444,0.0
148,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000,0.0,0.00,0.00,0.323353,0.188889,0.0

In [18]:
print(dataset.columns)

Index(['Unnamed: 0', 'Município', 'Código IBGE', 'Populacao', 'Total 1ª Dose',
       'Total 2ª Dose', 'Total Unica', 'Total Doses Aplicadas',
       'População Vacinada dose1/População Total',
       'População Vacinada/População Total', 'data', 'diagnostico_covid19',
       'obito', 'media_movel_casos', 'media_movel_obitos', 'ocupacao_leitos',
       'media_isolamento', 'Mean.R'],
      dtype='object')