In [6]:
import pandas as pd
import requests
import zipfile
from sklearn.preprocessing import MinMaxScaler

## Normnalização dos dados

In [4]:
ibge = pd.read_csv('../dados/ibge_drs.csv')
ibge.head(3)

,Unnamed: 0,Municipio,area,Populacao_Estimada,Densidade_Demográfica,Mortalidade_Infantil,Despesas_empenhadas,PIB,Código IBGE,Indice s/ Acento,Indice c/ acento,Município com acento,Municipio Sem Acento,DRS
0,0,ADAMANTINA,411.987,35111,82.15,11.63,13.708.366.993,30962.66,3500105,0,0,ADAMANTINA,ADAMANTINA,DRS 09 Marília
1,1,ADOLFO,211.055,3554,16.85,19.23,2.010.387.713,25867.75,3500204,1,1,ADOLFO,ADOLFO,DRS 15 São José do Rio Preto
2,2,AGUAÍ,474.554,36648,67.72,16.06,7.216.873.408,28041.03,3500303,2,2,AGUAÍ,AGUAI,DRS 14 São João da Boa Vista

*Casos e óbitos*

In [12]:
scaler = MinMaxScaler()
for cod in ibge['Código IBGE']:
    dataset =  pd.read_csv('../casos_obitos/' + str(cod) + '.csv')
    colunas = dataset.iloc[:, 4:]
    normalizado = scaler.fit_transform(colunas)
    dataset.iloc[:, 4:] = normalizado
    dataset.to_csv('./casos_obitos/' + str(cod) + '.csv')

In [13]:
dataset

,Unnamed: 0,nome_munic,codigo_ibge,data_inicio_sintomas,diagnostico_covid19,obito
0,0,Adamantina,3500105,2020-03-15T00:00:00Z,0.028571,0.0
1,1,Adamantina,3500105,2020-03-18T00:00:00Z,0.000000,0.0
2,2,Adamantina,3500105,2020-03-22T00:00:00Z,0.000000,0.0
3,3,Adamantina,3500105,2020-03-25T00:00:00Z,0.000000,0.0
4,4,Adamantina,3500105,2020-03-27T00:00:00Z,0.000000,0.0
...,...,...,...,...,...,...
417,417,Adamantina,3500105,2021-07-17T00:00:00Z,0.057143,0.0
418,418,Adamantina,3500105,2021-07-18T00:00:00Z,0.114286,0.0
419,419,Adamantina,3500105,2021-07-19T00:00:00Z,0.142857,0.0
420,420,Adamantina,3500105,2021-07-20T00:00:00Z,0.057143,0.0
421,421,Adamantina,3500105,2021-07-23T00:00:00Z,0.057143,0.0